header {
  background: #33333391;
}
.input-search {
  width: 550px;
  margin-inline: auto;
  padding: 8px;
  font-size: 1.1rem;
  outline: none;
  border: 1px solid rgba(255, 140, 0, 0.493);
  border-radius: 15px;
}
